@charset "UTF-8";
/*共通部分*/
html {
	font-size: 100%;
}
body {
	background-color: #c3f2ff;
	line-height: 1.7;
	color: black;
}
.sub-title {
	text-align: center;
	font-size: 4rem;
	padding: 7rem 0;
}
/*画像系*/
.cover {
	background-size: cover;
	
}
img {
	width: 15rem;
	height: 13rem;
	border-radius: 8px;
/*	display: flex;*/
/*	flex-direction: column;*/
}
.img {
	position: relative;
	width: 30rem;
	height: 26rem;
}
.img-amusement {
	position: absolute;
	top: 0;
	left: 0;
}
.img-food {
	position: absolute;
	bottom: 0;
	right: 0;
}

/*ヘッダー*/
.cover-header {
	background-image: url(images/sky_header.webp);
	background-position: center;
	height: 700px;
}
.title  {
	text-align: center;
	font-size: 7rem;
	padding-top: 15rem;
}

/*プロフィール*/
.profile {
	display: flex;
	padding: 0 10rem;
	gap: 5rem;
	justify-content: space-around;
}
.text p {
	width: 400px;
}
/*スキル*/
.skills {
	display: flex;
	gap: 3rem;
	justify-content: space-around;
}
.list {
	background-color: #ffffff;
	list-style-position: inside;
	border-radius: 17px;
	padding: 2rem;
	width: 35rem;
}

/*ワーク*/
.link {
	font-size: 1.25rem;
	text-decoration: none;
	color: #691c0d;
	background-color: #fff8cf;
/*	background-image: url(images/skywalk.webp);*/
	border-radius: 20px;
	padding: 1.5rem;
	
}
.works {
	display: flex;
	justify-content: space-around;
}

/*コンタクト*/
.form {
	font-size: 1.25rem;
	line-height: 2;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 450px;
	margin: 0 auto 10rem;
}
.input {
	text-align: center;
	border-style: double;
	border-radius: 16px;
	
}
.send {
	margin-top: 4rem;
}

/*フッター*/
.cover-footer {
	background-image: url(images/skywalk.webp);
	background-position: center;
	height: 650px;
	
}
.title-footer {
	text-align: center;
	font-size: 6rem;
	padding-top: 7rem;
}
